# Вебинар 4. Домашнее задание

Само домашнее задание нахожится в конце ноутбука

---

## Задание 1. Напишите свою функцию prefilter_items

In [7]:
from src.config import pseudo_item_id

In [43]:
def prefilter_items(data, take_n_popular=5000, popular_col='quantity', min_value=1, max_value=30, week_left=52):
    """Предфильтрация товаров"""
    data2 = data.copy()
    
    # 1. Удаление товаров, со средней ценой < 1$
#     data2.loc[data2['sales_value']/data2['quantity'] < min_value, 'item_id'] = pseudo_item_id
#     data2 = data2.loc[data2['sales_value']/data2['quantity'] > min_value]
    
    # 2. Удаление товаров со соедней ценой > 30$
#     data2.loc[data2['sales_value']/data2['quantity'] > max_value, 'item_id'] = pseudo_item_id
#     data2 = data2.loc[data2['sales_value']/data2['quantity'] < max_value]
    
    # 3. Придумайте свой фильтр
    # 3.1 Убираем непонятную положительную скидку
#     data2.loc[data2['retail_disc'] > 0, 'item_id'] = pseudo_item_id
#     data2 = data2.loc[data2['retail_disc'] <= 0]
    
    # 3.2 Оставляем только товары, купленные в последние N недель:
#     from_week = data2['week_no'].max() - week_left
#     data2 = data2.loc[data2['week_no'] > from_week]
    
    # 4. Выбор топ-N самых популярных товаров (N = take_n_popular)
    popularity = data2.groupby('item_id')[popular_col].sum().reset_index()
    top_items = popularity.sort_values(popular_col, ascending=False).head(take_n_popular).item_id.tolist()
    data2.loc[~data2['item_id'].isin(top_items), 'item_id'] = pseudo_item_id

    
    return data2

В корне проекта создайте модуль *src*. Положите функцию *prefilter_items* в файл *src/utils.py*  

Далее запустите код ниже и перейдите к заданию 2 (в конце ноутбука)

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Для работы с матрицами
from scipy.sparse import csr_matrix

# Матричная факторизация
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import ItemItemRecommender  # нужен для одного трюка
from implicit.nearest_neighbours import bm25_weight, tfidf_weight

# Функции из 1-ого вебинара
import os, sys

module_path = os.path.abspath(os.path.join(os.pardir))
if module_path not in sys.path:
    sys.path.append(module_path)
    
from src.metrics import precision_at_k, recall_at_k
from src.utils import prefilter_items

In [9]:
data = pd.read_csv('./raw_data/retail_train.csv')

data.columns = [col.lower() for col in data.columns]
data.rename(columns={'household_key': 'user_id',
                    'product_id': 'item_id'},
           inplace=True)


test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

# Warm start
train_items = data_train['item_id'].unique()
train_users = data_train['user_id'].unique()

data_test = data_test[data_test['item_id'].isin(train_items)]
data_test = data_test[data_test['user_id'].isin(train_users)]

data_train.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [10]:
data_train.describe()

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
count,2.278490e+06,2.278490e+06,2.278490e+06,2.278490e+06,2.278490e+06,2.278490e+06,2.278490e+06,2.278490e+06,2.278490e+06,2.278490e+06,2.278490e+06,2.278490e+06
mean,1.271764e+03,3.294526e+10,3.491402e+02,2.791955e+06,1.006171e+02,3.095110e+00,2.992061e+03,-5.393603e-01,1.562467e+03,5.056328e+01,-1.646478e-02,-2.915685e-03
std,7.269816e+02,3.964679e+09,1.676271e+02,3.673791e+06,1.153002e+03,4.196106e+00,8.693638e+03,1.236080e+00,4.025741e+02,2.394798e+01,2.179563e-01,3.995998e-02
min,1.000000e+00,2.698485e+10,1.000000e+00,2.567100e+04,0.000000e+00,0.000000e+00,1.000000e+00,-1.300200e+02,0.000000e+00,1.000000e+00,-5.593000e+01,-7.700000e+00
25%,6.540000e+02,3.003546e+10,2.080000e+02,9.167670e+05,1.000000e+00,1.270000e+00,3.300000e+02,-6.900000e-01,1.306000e+03,3.000000e+01,0.000000e+00,0.000000e+00
50%,1.271000e+03,3.214976e+10,3.510000e+02,1.027068e+06,1.000000e+00,2.000000e+00,3.700000e+02,-2.000000e-02,1.615000e+03,5.100000e+01,0.000000e+00,0.000000e+00
75%,1.914000e+03,3.433825e+10,4.940000e+02,1.131351e+06,1.000000e+00,3.490000e+00,4.220000e+02,0.000000e+00,1.846000e+03,7.100000e+01,0.000000e+00,0.000000e+00
max,2.500000e+03,4.129777e+10,6.350000e+02,1.782923e+07,8.963800e+04,8.400000e+02,3.428000e+04,3.990000e+00,2.359000e+03,9.100000e+01,0.000000e+00,0.000000e+00

In [11]:
data_train.groupby('item_id')[['quantity', 'sales_value']].sum().reset_index()

        item_id  quantity  sales_value
0         25671         6        20.94
1         26081         1         0.99
2         26093         1         1.59
3         26190         1         1.54
4         26355         2         1.98
...         ...       ...          ...
86860  17381856         0         0.00
86861  17382205         1         7.99
86862  17383227         1         4.49
86863  17827644         1         2.50
86864  17829232         2        11.98

[86865 rows x 3 columns]

In [44]:
top_col = 'quantity'
top_n = 5000
data_train = prefilter_items(data_train,
                                  take_n_popular=top_n, popular_col=top_col,
                                  min_value=1, max_value=30, week_left=52)
data_train.head()

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
816057,1774,31032664011,272,999999999,1,21.99,356,-1.00,0,40,0.0,0.0
816059,1774,31032664011,272,852182,1,1.50,356,-0.59,0,40,0.0,0.0
816060,1774,31032664011,272,863169,1,3.99,356,0.00,0,40,0.0,0.0
816062,1774,31032664011,272,999999999,2,4.00,356,-1.98,0,40,0.0,0.0
816063,1774,31032664011,272,937928,1,2.19,356,0.00,0,40,0.0,0.0

In [36]:
data_train.shape

(1042940, 12)

In [5]:
item_features = pd.read_csv('./raw_data/product.csv')
item_features.columns = [col.lower() for col in item_features.columns]
item_features.rename(columns={'product_id': 'item_id'}, inplace=True)

item_features.head(2)

,item_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,

In [11]:
len(item_features.loc[item_features['brand']=='Private', 'item_id'].to_list())

13816

In [17]:
from src.utils import get_ctm_df

In [18]:
ctm_df = get_ctm_df(item_features)

C:\Users\Рустам\Downloads\Recommender systems\src\utils.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """data_features - датасет с фичами товаров"""
C:\Users\Рустам\AppData\Roaming\Python\Python37\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [19]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...

In [134]:
n_items_before = data_train['item_id'].nunique()

data_train = prefilter_items(data_train, take_n_popular=5000)

n_items_after = data_train['item_id'].nunique()
print('Decreased # items from {} to {}'.format(n_items_before, n_items_after))

Decreased # items from 90386 to 5001

In [135]:
user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват ьдругие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix = user_item_matrix.astype(float) # необходимый тип матрицы для implicit

user_item_matrix.head(3)

item_id,117847,818981,819255,819308,819400,819487,819590,819594,819840,819845,...,15972565,15972790,16053142,16100266,16729296,16729299,16729415,16770156,16809649,17104444
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [136]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [137]:
user_item_matrix = bm25_weight(user_item_matrix.T).T  # Применяется к item-user матрице !

In [138]:
%%time

model = AlternatingLeastSquares(factors=20, 
                                regularization=0.001,
                                iterations=15, 
                                calculate_training_loss=True, 
                                num_threads=4)

model.fit(csr_matrix(user_item_matrix).T.tocsr(),  # На вход item-user matrix
          show_progress=True)

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

CPU times: user 8.35 s, sys: 1.08 s, total: 9.42 s
Wall time: 2.44 s

-----

# Домашнее задание

1. Перенесите метрики из ДЗ 1 src/metrics.py

Готово

2. Создайте модуль src/recommenders.py. Напищите код для класса ниже 
(задание обсуждали на вебинаре, для первой функции практически сделали) и положите его в src/recommenders.py

Готово

3. Проверьте, что все модули корректно импортируются

In [16]:
def prefilter_items(data, take_n_popular=5000, popular_col='quantity', min_value=1, max_value=30, week_left=52):
    """Предфильтрация товаров"""
    data2 = data.copy()
    
    # 1. Удаление товаров, со средней ценой < 1$
#     data2.loc[data2['sales_value']/data2['quantity'] < min_value, 'item_id'] = pseudo_item_id
#     data2 = data2.loc[data2['sales_value']/data2['quantity'] > min_value]
    
    # 2. Удаление товаров со соедней ценой > 30$
#     data2.loc[data2['sales_value']/data2['quantity'] > max_value, 'item_id'] = pseudo_item_id
#     data2 = data2.loc[data2['sales_value']/data2['quantity'] < max_value]
    
    # 3. Придумайте свой фильтр
    # 3.1 Убираем непонятную положительную скидку
#     data2.loc[data2['retail_disc'] > 0, 'item_id'] = pseudo_item_id
#     data2 = data2.loc[data2['retail_disc'] <= 0]
    
    # 3.2 Оставляем только товары, купленные в последние N недель:
    # from_week = data2['week_no'].max() - week_left
    # data2 = data2.loc[data2['week_no'] > from_week]
    
    # 4. Выбор топ-N самых популярных товаров (N = take_n_popular)
    popularity = data2.groupby('item_id')[popular_col].sum().reset_index()
    top_items = popularity.sort_values(popular_col, ascending=False).head(take_n_popular).item_id.tolist()
    data2.loc[~data2['item_id'].isin(top_items), 'item_id'] = pseudo_item_id

    
    return data2

In [15]:
def precision_at_k(recommended_list, bought_list, k=5):
    
    bought_list = np.array(bought_list)
    recommended_list = np.array(recommended_list)
    
    bought_list = bought_list  # Тут нет [:k] !!
    recommended_list = recommended_list[:k]
    
    flags = np.isin(bought_list, recommended_list)
    
    precision = flags.sum() / len(recommended_list)
    
    
    return precision

In [19]:
def get_ctm(data_features):
    """data_features - датасет с фичами товаров"""
    # items_brand = data_features[['item_id', 'brand']]
    # ctm_map = {'National': 0, 'Private': 1}
    # items_brand['brand'] = items_brand['brand'].map(ctm_map)
    # items_brand.rename(columns={'brand': 'ctm'}, inplace=True)
    #
    # return items_brand.set_index('item_id').to_dict()['ctm']

    return data_features.loc[data_features['brand']=='Private', 'item_id'].to_list()

In [12]:
import pandas as pd
import numpy as np

# Для работы с матрицами
from scipy.sparse import csr_matrix

# Матричная факторизация
from implicit.als import AlternatingLeastSquares
from implicit.nearest_neighbours import ItemItemRecommender  # нужен для одного трюка
from implicit.nearest_neighbours import bm25_weight, tfidf_weight


class MainRecommender:
    """Рекоммендации, которые можно получить из ALS
    
    Input
    -----
    user_item_matrix: pd.DataFrame
        Матрица взаимодействий user-item
    """
    
    def __init__(self, data, ctm, top_col='quantity', weighting=True):
        """
        data - датафрейм с покупками юзер - товар
        ctm - словарь принадлежности товара к СТМ {item_id: 0/1}
        top_col - фича, по которой будем определять популярность товаров
        """
                
        # Топ покупок каждого юзера
        self.top_col = top_col
        self.top_purchases = data.groupby(['user_id', 'item_id'])[self.top_col].count().reset_index()
        self.top_purchases.sort_values(self.top_col, ascending=False, inplace=True)
        self.top_purchases = self.top_purchases[self.top_purchases['item_id'] != pseudo_item_id]

        # Топ покупок по всему датасету
        self.overall_top_purchases = data.groupby('item_id')[self.top_col].count().reset_index()
        self.overall_top_purchases.sort_values(self.top_col, ascending=False, inplace=True)
        self.overall_top_purchases = self.overall_top_purchases[self.overall_top_purchases['item_id'] != pseudo_item_id]
        self.overall_top_purchases = self.overall_top_purchases.item_id.tolist()
        
        self.user_item_matrix = self.prepare_matrix(data)  # pd.DataFrame
        self.id_to_itemid, self.id_to_userid, self.itemid_to_id, self.userid_to_id = self.prepare_dicts()
        
        # Словарь {item_id: 0/1}. 0/1 - факт принадлежности товара к СТМ
        self.item_id_to_ctm = ctm
        
        # Own recommender обучается до взвешивания матрицы
        self.own_recommender = self.fit_own_recommender()
        
        if weighting:
            self.user_item_matrix = bm25_weight(self.user_item_matrix.T).T 
        
        self.model = self.fit()

    def prepare_matrix(self, data):
        if self.top_col == 'sales_value':
            aggfunc = 'sum'
        else:
            aggfunc = 'count'
            
            
        user_item_matrix = pd.pivot_table(data, 
                                  index='user_id', columns='item_id', 
                                  values=self.top_col, # Можно пробовать другие варианты
                                  aggfunc=aggfunc, 
                                  fill_value=0
                                 )

        user_item_matrix = user_item_matrix.astype(float)
        
        return user_item_matrix

    def prepare_dicts(self):
        """Подготавливает вспомогательные словари"""
        
        userids = self.user_item_matrix.index.values
        itemids = self.user_item_matrix.columns.values

        matrix_userids = np.arange(len(userids))
        matrix_itemids = np.arange(len(itemids))

        id_to_itemid = dict(zip(matrix_itemids, itemids))
        id_to_userid = dict(zip(matrix_userids, userids))

        itemid_to_id = dict(zip(itemids, matrix_itemids))
        userid_to_id = dict(zip(userids, matrix_userids))
        
        return id_to_itemid, id_to_userid, itemid_to_id, userid_to_id

    def fit_own_recommender(self):
        """Обучает модель, которая рекомендует товары, среди товаров, купленных юзером"""
    
        own_recommender = ItemItemRecommender(K=1, num_threads=4)
        own_recommender.fit(csr_matrix(self.user_item_matrix).T.tocsr(), show_progress=False)
        
        return own_recommender

    def fit(self, n_factors=20, regularization=0.001, iterations=15, num_threads=4):
        """Обучает ALS"""
        
        model = AlternatingLeastSquares(factors=n_factors,
                                         regularization=regularization,
                                         iterations=iterations,
                                         num_threads=num_threads)
        model.fit(csr_matrix(self.user_item_matrix).T.tocsr(), show_progress=False)
        
        return model

    def get_similar_items_recommendation(self, user, filter_ctm=True, N=5):
        """Рекомендуем товары, похожие на топ-N купленных юзером товаров"""

        # your_code
        # Практически полностью реализовали на прошлом вебинаре
        # Не забывайте, что нужно учесть параметр filter_ctm
        sparse_user_item = csr_matrix(self.user_item_matrix).tocsr()
        filter_items = [self.itemid_to_id[pseudo_item_id]]
        # filter_items = None
        
        if filter_ctm:
            filter_items.expand(self.item_id_to_ctm)
        
        res = [self.id_to_itemid[rec[0]] for rec in 
                    self.own_recommender.recommend(userid=self.userid_to_id[user], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=N, 
                                    filter_already_liked_items=True,
                                    filter_items=filter_items,
                                    recalculate_user=True)]

        return res

    def get_similar_users_recommendation(self, user, N=5):
        """Рекомендуем топ-N товаров, среди купленных похожими юзерами"""
    
        sparse_user_item = csr_matrix(self.user_item_matrix).tocsr()
        filter_items = [self.itemid_to_id[pseudo_item_id]]
        
        res = [self.id_to_itemid[rec[0]] for rec in 
                    self.model.recommend(userid=self.userid_to_id[user], 
                                    user_items=sparse_user_item,   # на вход user-item matrix
                                    N=N, 
                                    filter_already_liked_items=False, 
                                    filter_items=filter_items, 
                                    recalculate_user=True)]

        return res

----

Проверка, что все работает

In [28]:
from src.metrics import precision_at_k, recall_at_k
from src.utils import prefilter_items, get_ctm_df
from src.recommenders import MainRecommender

In [43]:
data = pd.read_csv('./raw_data/retail_train.csv')

data.columns = [col.lower() for col in data.columns]
data.rename(columns={'household_key': 'user_id',
                    'product_id': 'item_id'},
           inplace=True)


test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

Warm start
train_items = data_train['item_id'].unique()
train_users = data_train['user_id'].unique()

data_test = data_test[data_test['item_id'].isin(train_items)]
data_test = data_test[data_test['user_id'].isin(train_users)]

data_train.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [44]:
item_features = pd.read_csv('./raw_data/product.csv')
item_features.columns = [col.lower() for col in item_features.columns]
item_features.rename(columns={'product_id': 'item_id'}, inplace=True)

item_features.head(2)

,item_id,manufacturer,department,brand,commodity_desc,sub_commodity_desc,curr_size_of_product
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,

In [45]:
ctm_res = get_ctm(item_features)
len(ctm_res)

13816

In [46]:
from config import pseudo_item_id
top_col = 'quantity'
top_n = 5000
data_train2 = prefilter_items(data_train,
                              take_n_popular=top_n, popular_col=top_col,
                              min_value=1, max_value=30, week_left=52)

In [47]:
data_train2.shape

(2278490, 12)

In [49]:
recommender = MainRecommender(data_train2, ctm_res, top_col=top_col, weighting=True)

In [50]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns = ['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...

In [51]:
result['own_purchases_rec'] = result['user_id'].apply(
        lambda x: recommender.get_similar_items_recommendation(x, filter_ctm=False, N=5))

In [52]:
result['similar_items_rec'] = result['user_id'].apply(
        lambda x: recommender.get_similar_users_recommendation(x, N=5))

In [53]:
result.apply(lambda row: precision_at_k(row['own_purchases_rec'], row['actual']), axis=1).mean()

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:11: RuntimeWarning: invalid value encountered in long_scalars
  # This is added back by InteractiveShellApp.init_path()

nan

In [54]:
result.apply(lambda row: precision_at_k(row['similar_items_rec'], row['actual']), axis=1).mean()

0.13496571988246694

In [57]:
data2 = pd.read_csv('./raw_data/retail_train.csv')
data2.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [61]:
test_size_weeks = 3

data_train3 = data2[data2['week_no'] < data2['week_no'].max() - test_size_weeks]
data_test3 = data2[data2['week_no'] >= data2['week_no'].max() - test_size_weeks]

In [62]:
popularity = data_train3.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)

popularity.head()

   item_id  n_sold
0    25671       6
1    26081       1
2    26093       1
3    26190       1
4    26355       2

In [63]:
result = data_test3.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...

In [64]:
top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()

In [65]:
data_train3.loc[~data_train3['item_id'].isin(top_5000), 'item_id'] = 999999

C:\Users\Рустам\AppData\Roaming\Python\Python37\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [66]:
user_item_matrix2 = pd.pivot_table(data_train3, 
                                  index='user_id', columns='item_id', 
                                  values='quantity', # Можно пробоват ьдругие варианты
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix2 = user_item_matrix2.astype(float) # необходимый тип матрицы для implicit

user_item_matrix2.head(3)

item_id,202291,397896,420647,480014,545926,707683,731106,818980,819063,819227,...,15778533,15831255,15926712,15926775,15926844,15926886,15927403,15927661,15927850,16809471
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
userids = user_item_matrix2.index.values
itemids = user_item_matrix2.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [77]:
%%time

model = ItemItemRecommender(K=5, num_threads=4) # K - кол-во билжайших соседей

model.fit(csr_matrix(user_item_matrix2).T.tocsr(),  # На вход item-user matrix
          show_progress=True)

recs = model.recommend(userid=userid_to_id[2],  # userid - id от 0 до N
                        user_items=csr_matrix(user_item_matrix2).tocsr(),   # на вход user-item matrix
                        N=5, # кол-во рекомендаций 
                        filter_already_liked_items=True, 
                        filter_items=[999999], 
                        recalculate_user=True)
recs

HBox(children=(FloatProgress(value=0.0, max=5001.0), HTML(value='')))

Wall time: 773 ms

[(4346, 3065828659.0),
 (2757, 2002800099.0),
 (2307, 1566502888.0),
 (2148, 95782.0),
 (4339, 18033.0)]

In [78]:
model = ItemItemRecommender(K=1, num_threads=4) # K - кол-во билжайших соседей

model.fit(csr_matrix(user_item_matrix2).T.tocsr(), 
          show_progress=True)

recs = model.recommend(userid=userid_to_id[1], 
                        user_items=csr_matrix(user_item_matrix2).tocsr(),   # на вход user-item matrix
                        N=5, 
                        filter_already_liked_items=True, 
                        filter_items=[999999], 
                        recalculate_user=False)

recs

HBox(children=(FloatProgress(value=0.0, max=5001.0), HTML(value='')))

[(2381, 0.0)]

In [79]:
[id_to_itemid[rec[0]] for rec in recs]

[999999]